{% extends 'recipient/base.html' %}
{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Все сообщения</h1>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for mail in object_list %}
    {% if user == mail.owner or user.is_superuser or perms.mailing.view_message %}
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <p class="card-text">{{ mail.title }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text">{{ mail.content | slice:100 }}</p>
                    <div class="btn-group">
                        <a class="btn btn-primary"
                           href="{% url 'mailing:view' mail.pk %}" role="button">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}